.form-control {
  width: 30%;
}
#modalButton{
margin-left: 60em;
/*position:relative;*/
}
.table-responsive{
  width:30em;
}
#header{
  /*background-color: navy;*/

  width: auto;
  color:white;
  text-align: center;



}
.col-md-3{
  margin-left: 50%;
}
.col-md-9 {
  /*background-color: tomato;*/
margin-right: 70%;
margin-bottom: 100%;
}



.Container{
  color:white;
}
/*<!-- <button value="_id" type="button" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-shopping-cart"></span> -->*/
.form-control{
  width: 70%;
}
#ShoeTemplate{
margin-left: 30%;
}
.col-sm-3{
  margin-left: 10%;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
 input {
    width: 120px
}


.table{
  width: 80%;
  bottom: 50%;
  /*text-align: center;
    width: 2em;
    margin: 0 auto;
    border-color: red;*/
color:white;

},
th, td {
    padding: 5px;
    border: 1px solid;
}
